.container {
  position: relative;
}

.text {
  margin: 0;
  border-radius: 4px;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  user-select: none;
}

.button {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--secondary-color);

  &:hover {
    opacity: 0.8;
  }
}
