@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import "./vendors/normalize";
@import "./vendors/reset";
@import "./themes/dark";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --app-padding: 24px;
  --aside-width-collapsed: 80px;
  --aside-width: 300px;
  --header-height: 60px;

  --color-black: #131517;
  --color-green: #4eb8a4;
  --color-grey: #ebebeb;
  --color-orange: #fb8c00;
  --color-red: #e91e63;
  --color-white: #fff;
  --color-gray: #353a40;

  --zindex-overlay: 500;
  --transition-base: 150ms linear;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--scrollbar-bg);

  &-thumb {
    border-radius: 3px;
    background: var(--scrollbar-thumb-bg);
  }
}

html {
  --app-shadow: 0 4px 12px rgba(0 0 0 / 15%);

  --accent-color: var(--color-green);
  --primary-color: var(--color-black);
  --secondary-color: var(--color-white);

  --skeleton-bg: rgb(0 0 0 / 10%);
  --overlay-bg: rgb(0 0 0 / 10%);

  --theme-menu-border-color: var(--color-grey);
  --theme-menu-bg-color: transparent;

  --scrollbar-bg: var(--color-grey);
  --scrollbar-thumb-bg: var(--color-black);
}

body {
  background-color: var(--secondary-color);
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--primary-color);
}

.app {
  overflow: hidden;
  height: 100vh;
  padding-bottom: var(--app-padding);

  &-container {
    margin: 0 auto;
    max-width: 1144px;
    width: 100%;
  }

  &-page {
    overflow-y: auto;
    height: calc(100vh - var(--header-height) - var(--app-padding));
    width: 100%;
    padding: var(--app-padding);
  }
}
