@import "./vendors/normalize";
@import "./colors";
@import "./variables";
@import "./themes/dark";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --primary-color: var(--color-black);
  --secondary-color: var(--color-white);
  --accent-color: var(--color-green);
}

body {
  font-size: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &.active {
    color: var(--color-copperleaf);
  }
}

ul {
  list-style-type: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
}

.main {
  display: flex;
  height: calc(100vh - var(--header-height));
}

.page-container {
  flex-grow: 1;
  padding: 0 20px;
}
