.container {
  box-shadow: var(--app-shadow);
  border-radius: 6px;
  padding: 15px;
  width: 100%;
}

.avatar {
  margin-right: 6px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.username {
  &::first-letter {
    text-transform: uppercase;
  }
}

.text {
  margin-top: 10px;
}
