.container {
  box-shadow: var(--app-shadow);
  border-radius: 8px;
  display: flex;
  align-items: center;
  overflow: hidden;

  &:hover {
    transform: scale(1.01);
  }
}

.image {
  flex-shrink: 0;
  border-radius: 8px;
  height: 186px;
  width: 244px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  gap: 10px;
}

.title {
  font-weight: 500;
  color: var(--accent-color);
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tags {
  margin-top: auto;
}

.compact {
  flex-direction: column;
  width: 284px;

  .image {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
  }

  .content {
    padding: 12px;
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
  }
}
