.container {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--primary-color);
  width: 100%;
  min-width: 80px;

  &:hover {
    transition: var(--transition-base);
    color: var(--accent-color);
  }
}

.icon {
  margin-right: 12px;
}

.title {
  &::first-letter {
    text-transform: uppercase;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.check {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}
