.container {
  color: var(--primary-color);
}

.isOpen .value {
  border-color: var(--color-orange);
}

.isDisabled .value {
  border-color: transparent;
  cursor: default;
}

.title {
  cursor: default;
}

.value {
  border-bottom: 1px solid var(--accent-color);
  padding: 8px 0;
  line-height: 1.15;
  transition-property: border-color;
  cursor: pointer;
}
