.link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: uppercase;

  &:hover {
    transition: var(--transition-base);
    color: var(--accent-color);
  }
}

.inversed {
  color: var(--secondary-color);
}
