.container {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--primary-color);
  transition: 150ms linear;
  width: 100%;

  &:hover {
    color: var(--accent-color);
  }
}

.icon {
  margin-right: 12px;
}

.title {
  margin-right: 10px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.check {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
}
