.container {
  display: flex;
  flex-direction: column;

  &.error .input {
    border-color: var(--color-red);
  }
}

.title {
  cursor: default;
}

.input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--accent-color);
  background-color: transparent;
  padding: 8px 0;
  color: var(--primary-color);
  width: 100%;
  transition-property: border-color;
  text-overflow: ellipsis;
  cursor: pointer;

  &:disabled {
    border-color: transparent;
    cursor: default;
  }

  &:focus {
    border-color: var(--color-orange);
  }
}
