.container {
  display: flex;
  flex-direction: column;

  &.error .input {
    border-color: var(--color-red);
  }
}

.title {
  cursor: default;
}

.input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--accent-color);
  padding: 8px 0;
  width: 100%;
  text-overflow: ellipsis;
  color: var(--primary-color);
  transition: var(--transition-base);
  cursor: pointer;

  &:disabled {
    border-color: transparent;
    cursor: default;
  }

  &:focus {
    border-color: var(--color-orange);
  }
}
