html[theme="dark"] {
  --app-shadow: 0 2px 6px rgba(255 255 255 / 15%);

  --accent-color: var(--color-green);
  --primary-color: var(--color-white);
  --secondary-color: var(--color-black);

  --overlay-bg: rgb(255 255 255 / 5%);
  --skeleton-bg: rgb(255 255 255 / 10%);

  --theme-menu-bg-color: var(--color-gray);
  --theme-menu-border-color: transparent;

  --scrollbar-bg: var(--color-gray);
  --scrollbar-thumb-bg: var(--color-white);
}
