.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.overlay {
  background-color: var(--overlay-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.content {
  position: relative;
  border-radius: 6px;
  background-color: var(--secondary-color);
  max-width: 500px;
  width: 100%;
  padding: 16px 20px;
  color: var(--primary-color);
}

.button {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  svg {
    fill: var(--primary-color);
    width: 25px;
    height: 25px;
  }
}

.isOpen {
  pointer-events: auto;
  z-index: var(--zindex-overlay);

  .overlay {
    animation-name: fadeIn;
    opacity: 1;
  }

  .content {
    animation-name: zoomIn;
  }
}

.isClosing {
  .overlay {
    animation-name: fadeOut;
    opacity: 0;
  }

  .content {
    animation-name: zoomOut;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}
