.aside {
  border-top-right-radius: 4px;
  background-color: var(--accent-color);
  width: var(--aside-width);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: width 300ms;
  flex-shrink: 0;
}

.collapsed {
  width: var(--aside-width-collapsed);
}

.arrow {
  border: none;
  padding: 0;
  background: none;
  transition: 100ms linear;
  cursor: pointer;

  svg path {
    fill: var(--primary-color);
  }
}

.buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
