.aside {
  border-top-right-radius: 4px;
  background-color: var(--accent-color);
  width: var(--aside-width);
  padding: 10px 20px;
  transition: width 300ms;
}

.collapsed {
  width: var(--aside-width-collapsed);
}

.arrow {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;

  svg path {
    fill: var(--primary-color);
  }
}

.buttons {
  margin-top: auto;
}
