.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-bg);
  opacity: 0;
}

.content {
  border-radius: 6px;
  width: 100%;
  padding: 16px;
  max-width: 500px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.isOpen {
  pointer-events: auto;
  z-index: var(--overlay-z-index);

  .overlay {
    animation-name: overlay;
    opacity: 1;
  }

  .content {
    animation-name: content;
  }
}

.isClosing {
  .overlay {
    animation-name: overlayEnd;
    opacity: 0;
  }

  .content {
    animation-name: contentEnd;
  }
}

@keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes overlayEnd {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes content {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes contentEnd {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}
