.container {
  padding: 14px 0;
}

.avatarContainer {
  margin-bottom: 16px;
  border-radius: 6px;
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  overflow: hidden;
}

.avatar {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
