.header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 20px;
  background-color: var(--secondary-color);
}

.links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.buttons {
  margin-left: 16px;
}
