.header {
  background-color: var(--secondary-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}

.links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.controls {
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
