.title {
  margin-bottom: 14px;
}

.error {
  margin-bottom: 10px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
