.container {
  border-bottom: 1px solid var(--accent-color);
  color: var(--primary-color);
  transition: 100ms linear;
  cursor: pointer;
}

.disabled {
  border-color: transparent;
  cursor: default;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);

  &::first-letter {
    text-transform: uppercase;
  }
}

.value {
  padding: 8px 0;

  &::first-letter {
    text-transform: uppercase;
  }
}
