.commentsTitle {
  margin: 20px 0;
  font-size: 24px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notComments {
  font-size: 20px;

  &::first-letter {
    text-transform: uppercase;
  }
}
