.header {
  margin-bottom: 10px;
}

.skeleton {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addComment {
  margin: 20px 0;
}

.comments {
  margin-top: 10px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
